.user {
  border-bottom: 1px solid #000;
  list-style: none;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
  }

  p {
    flex: 1 1 0;
    text-align: center;
  }
}