<div class="users">
    <div class="users__header">
        <p class="users__header-title">Users list:</p>
        <label class="users__header-sort">
            Sort by:
            <select [(ngModel)]="filterType">
                <option value="order">Sort by order</option>
                <option value="order-reverse">Sort by reverse order</option>
                <option value="firstName">Sort name by A-Z</option>
                <option value="firstName-reverse">Sort name by Z-A</option>
                <option value="lastName">Sort last name by A-Z</option>
                <option value="lastName-reverse">Sort last name by Z-A</option>
            </select>
        </label>
    </div>
    <input type="text" class="users__search" placeholder="Search" [(ngModel)]="searchText">
    <ul class="users__header-list-info">
        <li>id</li>
        <li>First Name</li>
        <li>Last Name</li>
        <li>Phone</li>
        <li>Address</li>
    </ul>
    <app-user-item *ngFor="let user of users| usersFilter : filterType | usersSearch : searchText" [user]="user"></app-user-item>
</div>