.users {
  width: 95%;
  margin: 12px auto;
  padding: 12px;

  .users__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .users__header-title {
      font-size: 18px;
      letter-spacing: .02em;
    }

    .users__header-sort {
      font-size: 13px;

      select {
        margin-left: 6px;
        width: 100px;
        background-color: transparent;
        &:focus {
          outline: 0;
        }
      }
    }
  }

  .users__search {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #1721ff;
    padding: 5px 3px;
    font-size: 12px;
    margin-bottom: 12px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover, &:focus {
      background-color: #efefef;
      outline: 0;
    }
    &:focus {
      border-bottom-color: #43adff;
    }
  }

  .users__header-list-info {
    list-style: none;
    padding: 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;

    li {
      flex: 1 1 0;
      text-align: center;
    }
  }
}