.user {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, .3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 4px;

  .user__info {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
  }

  .user__field {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    align-items: center;

    span {
      font-weight: bold;
      margin-right: 4px;
    }
  }

  .user__bottom {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 100%;
      background-color: transparent;
      border: 0;
      font-size: 17px;
      letter-spacing: .02em;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      &:hover {
        border-bottom: 2px solid red;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}