<div class="user">
    <div class="user__info">
        <p class="user__field"><span>id:</span> {{user.id}}</p>
        <p class="user__field"><span>First Name:</span> {{user.firstName}}</p>
        <p class="user__field"><span>Last Name:</span> {{user.lastName}}</p>
        <p class="user__field"><span>Phone:</span> {{user.phone}}</p>
        <p class="user__field"><span>Address:</span> {{user.address}}</p>
    </div>
    <div class="user__bottom">
        <button [routerLink]="['/users']">Back</button>
    </div>
</div>